{% extends "base.html" %}
{% block title %}
{% block head_title %}
{% endblock head_title %}
{% endblock title %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    {% block content %}
    <h2>Ingresar datos de persona, libro y condición</h2>
    <br />
    <form action="/library/form/" method="POST">
      {% csrf_token %} {{ form.as_ul }}
      <br />
      <input type="submit" value="enviar" />
    </form>
    
    <br/><h3>Nombres completos de personas cargadas</h3>
    
    <table style=”background-color: black; color:white”>
      
        {%for element in elementsPerson %}
        <tr>
          <td>Nombre completo: {{element.name}}, {{element.last_name}}</td><br/>
        </tr>
      
    </table>
    {%endfor%} 
    {% endblock %}
  </div>
</div>
