{% extends "base.html" %}
{% block title %}
{% block head_title %}
{% endblock head_title %}
{% endblock title %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Buscar por nombre</h1>
    {% block content %}
    <h1>Búsqueda de persona</h1>
    <p><strong>Busca por nombre y apellido, no distingue entre mayúsculas y minúsculas</strong></p>
        <form action='/library/search/' method='POST'>
            {% csrf_token %}
            <input type="text" name="last_name" >
            <input type="submit" value="enviar">  
        </form>

        {%if elements%}
        <br/><h2>Resultados</h2>
        {% endif %}

        {%for element in elements %}
            <li type="square">Nombre: {{element.name}} | Apellido: {{element.last_name}} | Nacimiento: {{element.birth_date}} </li>
        {%endfor%}
        
    {% endblock %}
  </div>
</div>
